.DS_Store
*.o
*.dll
*.pd_darwin
*.pd_linux

help/.DS_Store
help/leapmotion.dll
help/leapmotion.pd_darwin
help/leapmotion.pd_linux
help/libLeap.so
help/libLeap.dylib
help/Leap.dll
help/lib/.DS_Store

pd-lib-builder/.DS_Store

src/.DS_Store
src/*.o
src/*.dll
src/*.pd_darwin
src/*.pd_linux
